# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# MLflow runs
mlruns/

# MLflow local database (SQLite)
mlflow.db

# Python packaging
build/
dist/
*.egg-info/

# IDEs
.idea/
.vscode/

# OS files
Thumbs.db
.DS_Store

# Local artifacts
artifacts/
